@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
  font-weight: normal;
  font-style: normal; }

/* color vars */
/* base styles */
html, body, ol, ul, li {
  margin: 0;
  padding: 0; }

html {
  line-height: 1.5;
  color: #333;
  background: #fff; }

html, input, select, textarea, button {
  font-family: Helvetica, Verdana, sans-serif;
  font-size: 1rem; }

body {
  padding: 3.5rem 1rem 1rem;
  margin: 0 auto;
  max-width: 40rem;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
  margin: 0 0 1rem 0; }

ul, ol {
  list-style-type: none; }

h1, h2, h3, h4, h5 {
  font-family: OpenSans, sans-serif;
  font-weight: normal; }
  h1 .code, h2 .code, h3 .code, h4 .code, h5 .code {
    display: block;
    color: #aaa;
    font-size: 0.875rem; }

h1, h2, h3 {
  padding-top: 2rem; }

h1 {
  font-size: 1.5rem;
  color: #222; }

h2 {
  font-size: 1.333rem;
  color: #444;
  border-bottom: 1px solid #ddd; }

h3 {
  font-size: 1.25rem;
  color: #ef3261; }

h4 {
  font-weight: normal;
  font-size: 1.125rem;
  color: #555; }

h5 {
  font-size: 1rem;
  color: #3c747c; }

h6 {
  margin: 0 0 0.25em;
  font-size: 1rem;
  color: #444;
  font-weight: normal; }

a {
  color: #d14; }

p > code {
  padding: 0.125rem 0.25rem 0.175rem;
  background: #f0f0f0;
  white-space: nowrap; }

label {
  margin-right: 0.5em; }
  label:after {
    content: ':'; }

blockquote {
  border-left: 2px solid #ccc;
  margin: 0;
  padding: 0.5rem 0 0.5rem 1.5rem;
  font-style: italic;
  color: #666; }
  blockquote:before {
    margin-right: 0.125rem;
    content: '\201C'; }
  blockquote:after {
    margin-left: 0.125rem;
    content: '\201D'; }

dd {
  margin: 0 0 0.5rem 0;
  padding: 0; }

dt {
  margin-bottom: 0.25rem; }

dt > code {
  background: #f6f6f6;
  white-space: nowrap;
  padding: 0.25rem 0.5rem 0.375rem; }

.print {
  position: absolute;
  left: -9999rem;
  top: -9999rem;
  width: 1px;
  height: 1px; }

/**
 * indexnav
 */
nav.index {
  margin-bottom: 1.5rem; }
  nav.index li {
    display: inline-block;
    margin-right: 0.5em; }

/**
 * subnav
 */
nav.sub > ul {
  padding: 1rem;
  background: #feeff3; }
nav.sub ul ul {
  margin-left: 1rem;
  font-size: 0.875em; }
nav.sub ul ul a {
  text-decoration: none; }
  nav.sub ul ul a:hover {
    text-decoration: underline; }

nav.sub.code > ul {
  background: #e8f2f4;
  color: #57a2ae; }
  nav.sub.code > ul li {
    font-size: 0.875rem; }
  nav.sub.code > ul a {
    color: #3c747c; }
    nav.sub.code > ul a:after {
      display: table;
      clear: both;
      content: ''; }

/**
 * introduction
 */
.introduction {
  margin-bottom: 2rem;
  color: #999;
  font-size: 1.25rem;
  font-family: OpenSans, sans-serif; }
  .introduction strong {
    font-weight: normal; }
  .introduction span {
    display: none; }

/**
 * block
 */
.introduction-block {
  font-size: 1.125rem;
  color: #555; }

.introduction-block h3 {
  text-transform: capitalize; }

/**
 * Method
 */
section.method {
  padding: 0 0 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px dotted #ddd; }
  section.method h4, section.method p, section.method .params {
    margin-bottom: 0.25rem; }
  section.method p {
    font-size: 0.875rem; }

/**
 * Code
 */
.code {
  white-space: nowrap;
  font-family: monaco, monospace; }

h3 .code {
  display: block;
  color: #999;
  font-size: 0.75rem; }

h3.code {
  font-size: 1.25rem; }

h4.code {
  font-size: 1.125rem; }

/**
 * Highlight Code Block
 */
pre {
  margin: 1rem 0;
  background: #f6f6f6; }
  pre code {
    display: block;
    padding: 0.375rem 0.5rem;
    word-wrap: break-word; }

/**
 * Title
 */
h1.title {
  padding-top: 0; }

/**
 * Logo
 */
h1.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 2;
  margin-top: 0;
  white-space: nowrap;
  text-transform: lowercase; }
  h1.logo a {
    color: #999;
    text-decoration: none; }

.landing h1.logo {
  position: static;
  font-size: 1.75rem;
  padding: 0;
  line-height: 1.5; }
  .landing h1.logo a {
    color: #333;
    text-decoration: none; }

/**
 * Git block
 */
.git {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 2.125rem;
  display: block;
  padding: 0 1rem;
  background: #efefef;
  text-align: right;
  line-height: 2; }
  .git iframe {
    display: inline-block;
    vertical-align: middle; }

.js .git {
  display: none; }
  .js .git[data-initialized] {
    display: block; }

.landing .git {
  text-align: left; }

/**
 * Note
 */
p.note {
  font-size: 0.875rem;
  color: #999; }

/**
 * Files list
 */
.files {
  padding: 0; }

/**
 * Component
 */
.component {
  box-sizing: border-box;
  padding: 1em;
  margin: 1em 0;
  color: #6b6963;
  background: #f3efe2;
  font-size: 0.875em; }
  .component p {
    margin-bottom: 0;
    -webkit-transition: font-size 0.25s;
    -moz-transition: font-size 0.25s;
    -ms-transition: font-size 0.25s;
    transition: font-size 0.25s; }
  .component.alt {
    width: 50%; }
  .component button {
    display: block;
    padding: 0 0.75em;
    line-height: 1.75;
    border: none;
    background: #CDC7B9;
    color: #4F4E49;
    cursor: pointer; }
  .component p + button {
    margin-top: 0.75em; }

[data-module] {
  color: #aeaaa0;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -ms-transition: color 0.5s;
  transition: color 0.5s; }
  [data-module]:empty:before {
    content: 'No modules active'; }

[data-initialized] {
  color: #6b6963; }

/**
 * Map
 */
img.map {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc8bd; }

/**
 * Events
 */
.events {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  background: #F0F0F0; }
  .events p {
    margin: 0; }
  .events td, .events th {
    padding: 0.25em 1em;
    color: #777;
    font-size: 0.875em;
    vertical-align: top; }
  .events thead {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px; }
  .events tbody tr:first-child td, .events tbody tr:first-child th {
    padding-top: 1em; }
  .events tbody tr:last-child td, .events tbody tr:last-child th {
    padding-bottom: 1em; }
  .events tbody td, .events tbody th {
    font-weight: normal; }
  .events tbody th {
    font-family: monaco, monospace; }
  .events tbody th:before {
    content: '"'; }
  .events tbody th:after {
    content: '"'; }

/**
 * Monitors
 */
.monitors {
  margin: -0.5rem -0.5rem 1rem; }
  .monitors h6 {
    font-weight: bold; }
  .monitors article {
    margin: 0.5rem;
    padding: 0.5rem 0.75rem;
    padding-bottom: 0;
    border: 1px solid #ddd; }
  .monitors pre {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin: 0 -0.75rem; }

/**
 * Params
 */
.params {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  font-family: monaco, monospace; }
  .params p {
    margin: 0; }
  .params td, .params th {
    color: #777;
    font-size: 0.75em;
    vertical-align: top; }
    .params td p, .params th p {
      font-size: 0.75rem; }
  .params thead {
    display: block;
    position: absolute;
    top: -9999px;
    left: -9999px;
    width: 1px;
    height: 1px; }
  .params tbody td, .params tbody th {
    font-weight: normal;
    padding-right: 0.5rem;
    box-sizing: borderbox; }
  .params tbody th, .params tbody th + td {
    width: 20%; }
  .params tbody th + td {
    width: 30%; }
  .params tbody td:last-child {
    width: 50%; }

/**
 * Body + Header layouting
 */
@media (min-width: 38rem) {
  body {
    position: relative;
    padding-right: 7rem; }
  .git {
    left: 1rem;
    right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 0; }
  h1.logo {
    left: 1rem; }
  .intro {
    display: table;
    border-top: 2px solid #f3f3f3; }
  .introduction-block {
    display: table-cell;
    width: 50%;
    padding: 0 2rem 0 0;
    vertical-align: top; }
    .introduction-block + .introduction-block {
      padding: 0 0 0 2rem; }
  h1 .code, h2 .code, h3 .code, h4 .code, h5 .code {
    display: inline-block;
    color: #aaa;
    font-size: 0.875rem; }
  nav.sub.code > ul a:after {
    display: inline;
    clear: none;
    content: ''; }
  .highlight {
    margin-right: -6rem; }
  .monitors li {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    vertical-align: top; } }

@media (min-width: 62rem) {
  body {
    margin-left: 17rem; }
  nav > a {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 1rem;
    margin-bottom: 1rem; }
  nav.main {
    position: fixed;
    background: #40494E;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 5rem 0 0 0;
    width: 16rem;
    margin: 0;
    text-align: right;
    z-index: 1; }
    nav.main li {
      display: block; }
    nav.main > ul {
      border-top: 1px dotted #516574;
      padding-top: 1.5rem;
      padding-right: 2rem;
      background: transparent; }
    nav.main > ul > li > a:after {
      position: absolute;
      top: 50%;
      height: 0;
      width: 0;
      border: 5px solid transparent;
      pointer-events: none;
      content: '';
      margin-top: -5px; }
    nav.main a {
      color: #a2b3c0;
      text-decoration: none; }
      nav.main a:hover, nav.main a:focus {
        text-decoration: underline; }
    nav.main ul ul a {
      color: #8596A2; }
  .git {
    left: auto;
    border-radius: 0 0 0.25rem 0.25rem; }
  h1.logo {
    position: fixed;
    left: 0;
    top: 1.5rem;
    padding: 0;
    z-index: 2;
    width: 14rem;
    text-align: right; }
    h1.logo a {
      color: #8596A2; }
  .landing h1.logo {
    position: static;
    text-align: left; }
  .landing nav.main {
    padding-top: 4rem; }
    .landing nav.main > ul {
      border-top: none;
      padding-top: 0; } }

.hll {
  background-color: #ffffcc; }

.c {
  color: #999988;
  font-style: italic; }

/* Comment */
.err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.k {
  color: #000000;
  font-weight: bold; }

/* Keyword */
.o {
  color: #000000;
  font-weight: bold; }

/* Operator */
.cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.cp {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Preproc */
.c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.ge {
  color: #000000;
  font-style: italic; }

/* Generic.Emph */
.gr {
  color: #aa0000; }

/* Generic.Error */
.gh {
  color: #999999; }

/* Generic.Heading */
.gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.go {
  color: #888888; }

/* Generic.Output */
.gp {
  color: #555555; }

/* Generic.Prompt */
.gs {
  font-weight: bold; }

/* Generic.Strong */
.gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.gt {
  color: #aa0000; }

/* Generic.Traceback */
.kc {
  color: #000000;
  font-weight: bold; }

/* Keyword.Constant */
.kd {
  color: #000000;
  font-weight: bold; }

/* Keyword.Declaration */
.kn {
  color: #000000;
  font-weight: bold; }

/* Keyword.Namespace */
.kp {
  color: #000000;
  font-weight: bold; }

/* Keyword.Pseudo */
.kr {
  color: #000000;
  font-weight: bold; }

/* Keyword.Reserved */
.kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.m {
  color: #009999; }

/* Literal.Number */
.s {
  color: #d01040; }

/* Literal.String */
.na {
  color: #008080; }

/* Name.Attribute */
.nb {
  color: #0086B3; }

/* Name.Builtin */
.nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.no {
  color: #008080; }

/* Name.Constant */
.nd {
  color: #3c5d5d;
  font-weight: bold; }

/* Name.Decorator */
.ni {
  color: #800080; }

/* Name.Entity */
.ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.nl {
  color: #990000;
  font-weight: bold; }

/* Name.Label */
.nn {
  color: #555555; }

/* Name.Namespace */
.nt {
  color: #000080; }

/* Name.Tag */
.nv {
  color: #008080; }

/* Name.Variable */
.ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
.w {
  color: #bbbbbb; }

/* Text.Whitespace */
.mf {
  color: #009999; }

/* Literal.Number.Float */
.mh {
  color: #009999; }

/* Literal.Number.Hex */
.mi {
  color: #009999; }

/* Literal.Number.Integer */
.mo {
  color: #009999; }

/* Literal.Number.Oct */
.sb {
  color: #d01040; }

/* Literal.String.Backtick */
.sc {
  color: #d01040; }

/* Literal.String.Char */
.sd {
  color: #d01040; }

/* Literal.String.Doc */
.s2 {
  color: #d01040; }

/* Literal.String.Double */
.se {
  color: #d01040; }

/* Literal.String.Escape */
.sh {
  color: #d01040; }

/* Literal.String.Heredoc */
.si {
  color: #d01040; }

/* Literal.String.Interpol */
.sx {
  color: #d01040; }

/* Literal.String.Other */
.sr {
  color: #009926; }

/* Literal.String.Regex */
.s1 {
  color: #d01040; }

/* Literal.String.Single */
.ss {
  color: #990073; }

/* Literal.String.Symbol */
.bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.vc {
  color: #008080; }

/* Name.Variable.Class */
.vg {
  color: #008080; }

/* Name.Variable.Global */
.vi {
  color: #008080; }

/* Name.Variable.Instance */
.il {
  color: #009999; }

/* Literal.Number.Integer.Long */
.hljs-string {
  color: #d01040; }

.hljs-function .hljs-keyword {
  font-weight: bold; }

.hljs-comment {
  color: #998;
  font-style: italic; }

.hljs-keyword {
  font-weight: bold;
  color: #000; }
