@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* color vars */
/* base styles */
/* line 6, ../sass/global/_base.scss */
html {
  padding: 2em;
  background: #fff;
  line-height: 1.5;
  color: #333;
}

/* line 13, ../sass/global/_base.scss */
html, input, select, textarea, button {
  font-family: Helvetica,Verdana,sans-serif;
  font-size: 1em;
}

/* line 18, ../sass/global/_base.scss */
body {
  padding: 0;
  margin: 0 auto;
  max-width: 40em;
}

/* line 24, ../sass/global/_base.scss */
h1, h2, h3, h4, h5 {
  font-family: OpenSans,sans-serif;
  font-weight: normal;
}

/* line 30, ../sass/global/_base.scss */
h1 {
  padding-top: .5em;
  margin-bottom: -.25em;
  font-size: 1.75em;
  color: #222;
}

/* line 37, ../sass/global/_base.scss */
h2 {
  margin-top: 0;
  margin-bottom: .3em;
  padding-top: .75em;
  padding-bottom: .125em;
  font-size: 1.25em;
  color: #444;
  border-bottom: 1px solid #ddd;
}

/* line 47, ../sass/global/_base.scss */
h3 {
  padding: 1.2em 0 0 0;
  margin: 0 0 .5em;
  font-size: 1.25em;
  color: #ef3261;
}

/* line 54, ../sass/global/_base.scss */
h4 {
  font-weight: normal;
  font-size: 1.125em;
  padding-top: 3em;
  margin: 0 0 .5em;
  color: #555;
}

/* line 62, ../sass/global/_base.scss */
h4 + h5 {
  padding-top: 0;
  margin-top: 0;
}

/* line 67, ../sass/global/_base.scss */
h5 {
  font-size: 1em;
  color: #2e7a86;
  margin: 2em 0 -.75em 0;
}

/* line 75, ../sass/global/_base.scss */
h2 + p,
h3 + p,
h4 + p {
  margin-top: 0;
}

/* line 79, ../sass/global/_base.scss */
a {
  color: #dd1144;
}

/* line 83, ../sass/global/_base.scss */
p {
  margin: 1em 0;
}
/* line 86, ../sass/global/_base.scss */
p > core {
  white-space: nowrap;
}

/* line 91, ../sass/global/_base.scss */
label {
  margin-right: .5em;
}
/* line 94, ../sass/global/_base.scss */
label:after {
  content: ':';
}

/* line 99, ../sass/global/_base.scss */
code {
  padding: .375em .5em .25em;
}

/* line 103, ../sass/global/_base.scss */
pre {
  margin: 1em 0;
}

/* line 107, ../sass/global/_base.scss */
blockquote {
  border-left: 2px solid #ccc;
  margin: 0;
  padding: .5em 0 .5em 1.5em;
  font-style: italic;
  color: #666;
}
/* line 114, ../sass/global/_base.scss */
blockquote:before {
  margin-right: .125em;
  content: '\201C';
}
/* line 119, ../sass/global/_base.scss */
blockquote:after {
  margin-left: .125em;
  content: '\201D';
}

/**
 * Code
 */
/* line 7, ../sass/global/_components.scss */
.code {
  white-space: nowrap;
  font-family: monaco,monospace;
}

/* line 12, ../sass/global/_components.scss */
h3 .code {
  display: block;
  color: #999;
  font-size: .875em;
}

/**
 * Logo
 */
/* line 23, ../sass/global/_components.scss */
h1.logo {
  padding: 0;
  margin: 0 0 .5em 0;
  font-size: 1.25em;
  white-space: nowrap;
  line-height: 1;
}
/* line 30, ../sass/global/_components.scss */
h1.logo:after {
  content: ':{}';
  color: #dd1144;
}
/* line 35, ../sass/global/_components.scss */
h1.logo a {
  color: #333;
  text-decoration: none;
}

/* line 42, ../sass/global/_components.scss */
h1.title,
h1.logo + em {
  display: block;
  padding: 0;
  margin: 0;
  text-transform: lowercase;
  font-style: normal;
  font-family: OpenSans,sans-serif;
  color: #888;
  font-size: 1em;
  max-width: 70%;
}

/**
 * Git block
 */
/* line 59, ../sass/global/_components.scss */
.git {
  position: absolute;
  top: 1.75em;
  right: 2em;
  min-height: 1em;
  display: block;
  padding: .25em;
  background: #efefef;
  border-radius: .25em;
}
/* line 69, ../sass/global/_components.scss */
.git iframe {
  display: block;
}

/**
 * Note
 */
/* line 79, ../sass/global/_components.scss */
p.note {
  font-size: .875em;
  color: #999;
}

/**
 * Files list
 */
/* line 89, ../sass/global/_components.scss */
.files {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/**
 * Component
 */
/* line 101, ../sass/global/_components.scss */
.component {
  box-sizing: border-box;
  padding: 1em;
  margin: 1em 0;
  color: #6b6963;
  background: #f3efe2;
  font-size: .875em;
}

/* line 110, ../sass/global/_components.scss */
.component.alt {
  width: 50%;
}

/* line 114, ../sass/global/_components.scss */
[data-module] {
  color: #aeaaa0;
  -webkit-transition: color .5s;
  -moz-transition: color .5s;
  -ms-transition: color .5s;
  transition: color .5s;
}

/* line 122, ../sass/global/_components.scss */
[data-initialized] {
  color: #6b6963;
}

/**
 * Map
 */
/* line 129, ../sass/global/_components.scss */
img.map {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  border: 1px solid #ccc8bd;
}

/**
 * Navigation
 */
/* line 5, ../sass/global/_nav.scss */
nav {
  display: block;
  margin: 2em 0 0 0;
  padding: 1em 1em .5em;
}
/* line 11, ../sass/global/_nav.scss */
nav ul,
nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 17, ../sass/global/_nav.scss */
nav li {
  display: block;
  margin-bottom: .5em;
}
/* line 22, ../sass/global/_nav.scss */
nav a {
  position: relative;
}
/* line 25, ../sass/global/_nav.scss */
nav a:hover {
  text-decoration: underline;
}
/* line 30, ../sass/global/_nav.scss */
nav > a {
  position: absolute;
  left: 2em;
  top: 0;
  padding: .5em;
  line-height: 1;
}
/* line 38, ../sass/global/_nav.scss */
nav > ul ul {
  margin-top: .5em;
  margin-bottom: 1.5em;
}
/* line 43, ../sass/global/_nav.scss */
nav > ul ul li {
  margin-bottom: .25em;
}
/* line 47, ../sass/global/_nav.scss */
nav > ul ul a {
  text-decoration: none;
  font-size: .875em;
}

/* line 56, ../sass/global/_nav.scss */
nav.index {
  padding: 0;
}

/* line 60, ../sass/global/_nav.scss */
nav.sub {
  margin: 0;
  background: #fdeaef;
}

/* line 65, ../sass/global/_nav.scss */
nav.code {
  overflow-x: auto;
  background: #edf7f9;
  color: #68becb;
  font-family: monaco,consolas,monospace;
}
/* line 71, ../sass/global/_nav.scss */
nav.code li {
  font-size: .875em;
}
/* line 75, ../sass/global/_nav.scss */
nav.code a {
  display: inline-block;
  padding: 0;
  color: #2e7a86;
}

/**
 * Body + Header layouting
 */
@media (min-width: 38em) {
  /* line 7, ../sass/global/_layout.scss */
  body {
    position: relative;
  }

  /* line 11, ../sass/global/_layout.scss */
  h2 {
    font-size: 1.25em;
  }

  /* line 15, ../sass/global/_layout.scss */
  h3 .code {
    display: inline-block;
  }
  /* line 17, ../sass/global/_layout.scss */
  h3 .code:before {
    content: '(';
  }
  /* line 20, ../sass/global/_layout.scss */
  h3 .code:after {
    content: ')';
  }

  /* line 25, ../sass/global/_layout.scss */
  .git {
    right: 0;
  }

  /* line 29, ../sass/global/_layout.scss */
  nav.code {
    font-size: 1em;
  }
}
@media (min-width: 62em) {
  /* line 37, ../sass/global/_layout.scss */
  body {
    margin-left: 16em;
  }

  /* line 41, ../sass/global/_layout.scss */
  h1.logo {
    position: fixed;
    left: 0;
    top: .875em;
    width: 12em;
    padding-top: .5em;
    text-align: right;
  }

  /* line 51, ../sass/global/_layout.scss */
  h1.title,
  h1.logo + em {
    margin: -.3875em 0 .5em 0;
    font-size: 1.25em;
  }

  /* line 56, ../sass/global/_layout.scss */
  h2 {
    font-size: 1.5em;
  }

  /* line 60, ../sass/global/_layout.scss */
  .git {
    top: .125em;
  }

  /* line 64, ../sass/global/_layout.scss */
  nav > a {
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding-top: 0;
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  /* line 75, ../sass/global/_layout.scss */
  nav.index {
    position: fixed;
    left: 1em;
    top: 4em;
    width: 14em;
    margin: 0;
    text-align: right;
  }
  /* line 83, ../sass/global/_layout.scss */
  nav.index li {
    display: block;
  }
  /* line 87, ../sass/global/_layout.scss */
  nav.index > ul > li > a:after {
    position: absolute;
    top: 50%;
    height: 0;
    width: 0;
    border: solid transparent;
    pointer-events: none;
    content: '';
    margin-top: -5px;
    border-width: 5px;
  }
}
/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
/* line 7, ../sass/rainbow/_colors.scss */
pre {
  word-wrap: break-word;
  padding: 6px 10px;
  line-height: 19px;
}

/* line 13, ../sass/rainbow/_colors.scss */
p > code {
  border: 1px solid #dbdbdb;
  margin: 0;
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 3px;
}

/* line 22, ../sass/rainbow/_colors.scss */
pre,
code {
  font-family: monaco, consolas, monospace;
  color: #333;
  background: #f6f6f6;
  font-size: 12px;
}

/* line 31, ../sass/rainbow/_colors.scss */
pre code {
  border: 0;
  padding: 0;
  margin: 0;
  border-radius: 0;
}
/* line 38, ../sass/rainbow/_colors.scss */
pre .comment {
  color: #888;
}
/* line 42, ../sass/rainbow/_colors.scss */
pre .support {
  color: #0086B3;
}
/* line 46, ../sass/rainbow/_colors.scss */
pre .tag, pre .tag-name {
  color: navy;
}
/* line 50, ../sass/rainbow/_colors.scss */
pre .keyword, pre .css-property, pre .vendor-prefix, pre .sass, pre .class, pre .id, pre .css-value, pre .entity.function, pre .storage.function {
  font-weight: bold;
}
/* line 54, ../sass/rainbow/_colors.scss */
pre .css-property, pre .css-value, pre .vendor-prefix, pre .support.namespace {
  color: #333;
}
/* line 58, ../sass/rainbow/_colors.scss */
pre .constant.numeric, pre .keyword.unit, pre .hex-color {
  font-weight: normal;
  color: #099;
}
/* line 63, ../sass/rainbow/_colors.scss */
pre .entity.class {
  color: #458;
}
/* line 67, ../sass/rainbow/_colors.scss */
pre .entity.id, pre .entity.function {
  color: #900;
}
/* line 71, ../sass/rainbow/_colors.scss */
pre .attribute, pre .variable {
  color: teal;
}
/* line 75, ../sass/rainbow/_colors.scss */
pre .string, pre .support.value {
  font-weight: normal;
  color: #d14;
}
/* line 80, ../sass/rainbow/_colors.scss */
pre .regexp {
  color: #009926;
}
