/* color vars */
$primary-color:#d14;
$secondary-color:#57a2ae;

/* base styles */
html {
	padding:2em;
	background:#fff;
	line-height:1.5;
	color:#333;
}

html,input,select,textarea,button {
	font-family:Helvetica,Verdana,sans-serif;
	font-size:1em;
}

body {
	padding:0;
	margin:0 auto;
	max-width:40em;
}

h1,h2,h3,h4,h5 {
    font-family:OpenSans,sans-serif;
    font-weight:normal;

}

h1 {
    padding-top:.5em;
    margin-bottom:-.25em;
    font-size:1.75em;
    color:#222;
}

h2 {
    margin-top:0;
    margin-bottom:.3em;
    padding-top:.75em;
    padding-bottom:.125em;
    font-size:1.25em;
    color:#444;
    border-bottom:1px solid #ddd;
}

h3 {
    padding:1.2em 0 0 0;
    margin:0 0 .5em;
    font-size:1.25em;
    color:lighten($primary-color,10);
}

h4 {
    font-weight:normal;
    font-size:1.125em;
    padding-top:3em;
    margin:0 0 .5em;
    color:#555;
}

h4+h5 {
    padding-top:0;
    margin-top:0;
}

h5 {
    font-size:1em;
    color:darken($secondary-color,15);
    margin:2em 0 -.75em 0;
}

h2+p,
h3+p,
h4+p {
    margin-top:0;
}

a {
    color:$primary-color;
}

p {
    margin:1em 0;

    >code {
        background:#f8f8f8;
        white-space:nowrap;
        padding:.25em .5em .375em;
    }
}

label {
    margin-right:.5em;

    &:after {
        content:':';
    }
}

blockquote {
    border-left:2px solid #ccc;
    margin:0;
    padding:.5em 0 .5em 1.5em;
    font-style:italic;
    color:#666;

    &:before {
        margin-right:.125em;
        content:'\201C';
    }

    &:after {
        margin-left:.125em;
        content:'\201D';
    }
}
