

/**
 * introduction
 */
.introduction {
    margin:1em 0;
	color:#999;
    font-size:1.75em;
    font-family:OpenSans,sans-serif;

	strong {
		font-weight:normal;
	}

	span {
		display:none;
	}
}


/**
 * block
 */
.introduction-block {
	font-size:1.25em;
	color:#555;
}

.introduction-block h3 {
	text-transform:capitalize;
}


/**
 * Code
 */
.code {
	white-space:nowrap;
	font-family:monaco,monospace;
}

h3 .code {
	display:block;
	color:#999;
	font-size:.75em;
}

h3.code {
	font-size:1.25em;
}

h4.code {
	font-size:1.125em;
}


/**
 * Highlight Code Block
 */
.highlight {
    margin:1em 0;

    pre {
        background:#f6f6f6;
    }
    
    code {
        display:block;
        padding:.375em .5em;
        word-wrap:break-word;
    }
}



/**
 * Logo
 */
h1.logo {
	padding:0;
	margin:1em 0 .5em 0;
	font-size:1.75em;
	white-space:nowrap;
	line-height:1;
	text-transform:lowercase;

    a {
        color:#333;
        text-decoration:none;
    }
}

h1.title,
h1.logo+em {
	display:block;
	padding:0;
	margin:0;
	text-transform:lowercase;
	font-style:normal;
	font-family:OpenSans,sans-serif;
	color:#888;
	font-size:1em;
	max-width:70%;
}


/**
 * Git block
 */
.git {
	position:absolute;
	top:0;
	left:0;
	right:0;
	min-height:1em;
	display:block;
	padding:.5em 2em;
	background:#efefef;

    iframe {
        display:block;
    }
}

.js .git {
    display:none;
    &[data-initialized] {display:block;}
}




/**
 * Note
 */
p.note {
	font-size:.875em;
	color:#999;
}



/**
 * Files list
 */
.files {
	margin:0;
	padding:0;
	list-style-type: none;
}




/**
 * Component
 */
.component {
	box-sizing:border-box;
	padding:1em;
	margin:1em 0;
	color:#6b6963;
	background:#f3efe2;
	font-size:.875em;
}

.component.alt {
	width:50%;
}

[data-module] {
	color:#aeaaa0;
	-webkit-transition:color .5s;
	-moz-transition:color .5s;
	-ms-transition:color .5s;
	transition:color .5s;
}

[data-initialized] {
	color:#6b6963;
}

/**
 * Map
 */
img.map {
	display:block;
	max-width:100%;
	margin:0 auto;
	border:1px solid #ccc8bd;
}




