
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Light-webfont.eot');
	src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Light-webfont.svg#OpenSans-Light') format('svg');
	font-weight: normal;
	font-style: normal;
}
