

/**
 * Body + Header layouting
 */
@media (min-width:38em) {

	body {
		position:relative;
	}

    h2 {
        font-size:1.25em;
    }

    h3 .code {
        display:inline-block;
        &:before {
            content:'(';
        }
        &:after {
            content:')';
        }
    }


	.git {
		left:0;
		right:0;
		padding-left:.5em;
		top:-3.75em;
		border-radius:0 0 .25em .25em;

	}


    nav.code {
        font-size:1em;
    }

	.introduction-block {

		display:inline-block;
		box-sizing:border-box;
		-moz-box-sizing:border-box;
		width:50%;
		padding:0 2em 0 0;
		vertical-align:top;
		border-top: 2px solid #f3f3f3;

		+.introduction-block {
			padding:0 0 0 2em;
		}
	}

}

@media (min-width:62em) {

    body {
        margin-left:16em;
    }

    h1.logo {
        position:fixed;
        left:0;
        top:.875em;
        width:11.25em;
        padding-top:.5em;
		font-size:1.25em;
        text-align:right;
		z-index:2;
    }

	h1.logo a {
		color:#8596A2;
	}

    h1.title,
    h1.logo+em {
        margin:-.3875em 0 .5em 0;
        font-size:1.25em;
    }

	h1.logo.landing {
		position:absolute;
		left:-9999em;
		top:-9999em;
		height:1px;
		width:1px;
		text-indent:-9999em;
	}

    h2 {
        font-size:1.5em;
    }

    .git {
        top:-2em;
	    left:auto;
	    padding-right:.5em;
    }

	.introduction {

		margin-top:0;
		margin-right:25%;

		span {
			display:block;
			font-size:1.75em;
			color:#333;
			text-transform:lowercase;
		}
	}

	nav>a {
        position:absolute;
        left:0;
        top:0;
        border-bottom:1px solid #ddd;
        border-radius:0;
        padding-top:0;
        padding-bottom:1em;
        margin-bottom:1em;
    }

    nav.index {
        position:fixed;
		background:#40494E;
        left:0;
        top:0;
		bottom:0;
		padding:5em 0 0 0;
        width:16em;
        margin:0;
        text-align:right;
		z-index:1;

        li {
            display:block;
        }

		>ul {
			border-top:1px dotted #516574;
			padding-top:1.5em;
			padding-right:2em;
		}

        >ul>li>a:after {
            position: absolute;
            top:50%;
            height:0;
            width:0;
            border:solid transparent;
            pointer-events:none;
            content:'';
            margin-top:-5px;
            border-width:5px;
        }

		a {
			color:#a2b3c0;
			text-decoration:none;

			&:hover,
			&:focus {
				text-decoration:underline;
			}
		}

		ul ul a {
			color:#8596A2;
		}

    }

	h1.logo.landing~nav.index {
		padding-top:3em;

		>ul {
			border-top:none;
			padding-top:0;
		}
	}

}





