
/**
 * Navigation
 */
nav {
    display:block;
    margin:2em 0 0 0;
    padding:1em 1em .5em;

    ul,
    li {
        padding:0;
        margin:0;
        list-style:none;
    }

    li {
        display:block;
        margin-bottom:.5em;
    }

    a {
        position:relative;

        &:hover {
            text-decoration:underline;
        }
    }

    >a {
        position:absolute;
        left:2em;
        top:0;
        padding:.5em;
        line-height:1;
    }

    >ul ul {

        margin-top:.5em;
        margin-bottom:1.5em;

        li {
            margin-bottom:.25em;
        }

        a {
            text-decoration:none;
            font-size:.875em;
        }
    }

}


nav.index {
    padding:0;
}

nav.sub {
    margin:0;
    background:scale-lightness($primary-color,95%);
}

nav.code {
    overflow-x:auto;
    background:scale-lightness($secondary-color,90%);
    color:$secondary-color;
    font-family:monaco,consolas,monospace;

    li {
        font-size:.875em;
    }

    a {
        display:inline-block;
        padding:0;
        color:scale-lightness($secondary-color,-35%);
    }
}
