---
layout: landing
type: landing
---

<p class="introduction"><strong>A javascript library for loading and unloading behavior based on environment conditions.</strong></p>

<nav class="index main">
    <h2 class="print">Navigation</h2>
    <ul>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#example">Example</a></li>
        <li><a href="#requirements">Requirements</a></li>
        <li><a href="#download">Download</a></li>
        <li><a href="#examples">Examples</a></li>
        <li><a href="#documentation">Documentation</a></li>
    </ul>
</nav>

<section id="introduction" class="intro">

    <h2 class="print">Introduction</h2>

    <div class="introduction-block">
        <h3>Environment aware</h3>
        <p>Conditioner automatically loads and unloads modules based on the state of their surroundings.</p><p>You define the required state, conditioner takes it from there.</p>
    </div>

    <div class="introduction-block">
        <h3>Frizz free</h3>
        <p>Modules loaded with Conditioner live on their own little islands.</p><p>Conditioner exposes an API to facilitate safe communication between modules.</p>

    </div>

</section>

<section id="example">

    <h2>Example</h2>

    <p>Suppose you have a Google Maps module which transforms an anchor to a full blown Google Map. It would make sense to only activate the maps module if there's enough real estate on the screen to render a decent sized map. And to save a request and some bits and bytes you might only want to start loading the map once the map container becomes visible to the user.</p>

    <p>The following HTML snippet shows how to setup this Google Map using Conditioner. There are two things going on, the Map module is bound using the <code>data-module</code> attribute and the required conditions are set via the <code>data-conditions</code> attribute.</p>

{% highlight html %}
<a href="http://maps.google.com/?ll=51.741,3.822"
   data-module="ui/Map"
   data-conditions="media:{(min-width:40em)} and element:{was visible}"> ... </a>
{% endhighlight %}

    <p>Now the HTML is setup, we only have to tell the Conditioner to look for modules in a certain section of the DOM and we're done.</p>

    <p>We can accomplish this by calling the <code>init</code> method.</p>

{% highlight html %}
conditioner.init();
{% endhighlight %}

    <p>The map module specified above is located right below this paragraph, it should be loading right now (if your window is at least 40ems wide). Go on and resize that browser window, Conditioner will load and unload the map on the fly.</p>

    <div class="component">
        <a href="http://maps.google.com/?ll=51.741380,3.822169&z=13"
           data-module="ui/Map"
           data-priority="2"
           data-conditions="media:{(min-width:40em)} and element:{was visible} or not media:{supported}">Coast of Holland at Google Maps</a>
    </div>

</section>

<section id="requirements">

    <h2>Requirements</h2>

    <p>Conditioner expects an AMD loader to be available. It's been tested with <a href="http://requirejs.org" target="_blank">RequireJS</a>,
        <a href="https://github.com/jrburke/almond" target="_blank">Almond</a> and <a href="https://github.com/cujojs/curl" target="_blank">Curl</a>. As long as your AMD loader follows the
        <a href="https://github.com/amdjs/amdjs-api" target="_blank">AMD spec</a> it should be fine.</p>

    <p>If you're not "into" AMD and prefer <a href="http://browserify.org" target="_blank">Browserify</a> that's fine too but keep in mind that your optimized/minimized file should contain all modules. If you want the best of both worlds you might be interested in <a href="http://webpack.github.io" target="_blank">WebPack</a></p>

    <p>Conditioner requires a modern browser to function. Older browsers are going to need some shims to function correctly (view the gh_pages branch on GitHub for the complete list).</p>

    <p>If you are in some way forced to support IE8 and want to use Media Queries in your conditions (for modern browsers), first call the authorities. Then, while your waiting to be rescued, add the <code>or not media:{supported}</code> condition to always load the module if support is lacking.</p>

</section>

<section id="download" class="download-section">

    <h2>Download</h2>

    <div class="download-clone">

        <a class="download" href="{{ site.github.zip_url }}">Download Conditioner v{{ site.data.package.version }} as zip</a>

        <span>or</span>

        <pre><code>$ git clone {{ site.github.clone_url }}</code></pre>

    </div>

</section>

<nav class="sub" id="examples">

    <h2>Examples</h2>

    {% include nav-examples.html %}

</nav>

<nav class="sub" id="documentation">
    <h2>Documentation</h2>

    {% include nav-docs.html %}

</nav>

<section class="author">

    <h2>Author</h2>

    <a href="http://rikschennink.nl"><img src="{{ site.github.owner_gravatar_url }}" alt=""/>Rik Schennink</a>

    <a href="http://twitter.com/rikschennink">Follow @rikschennink</a>

</section>