/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.4
 */
pre {
	word-wrap:break-word;
	padding:6px 10px;
	line-height:19px;
}

p>code {
	border:1px solid #dbdbdb;
	margin:0;
	padding:2px 5px;
	font-size:12px;
	border-radius:3px;
}

pre,
code {
    font-family:monaco, consolas, monospace;
    color:#333;
    background:#f6f6f6;
    font-size:12px;
}

pre {
    
    code {
        border:0;
        padding:0;
        margin:0;
        border-radius:0;
    }

    .comment {
        color:#888;
    }

    .support {
        color:#0086B3;
    }

    .tag, .tag-name {
        color:navy;
    }

    .keyword, .css-property, .vendor-prefix, .sass, .class, .id, .css-value, .entity.function, .storage.function {
        font-weight:bold;
    }

    .css-property, .css-value, .vendor-prefix, .support.namespace {
        color:#333;
    }

    .constant.numeric, .keyword.unit, .hex-color {
        font-weight:normal;
        color:#099;
    }

    .entity.class {
        color:#458;
    }

    .entity.id, .entity.function {
        color:#900;
    }

    .attribute, .variable {
        color:teal;
    }

    .string, .support.value  {
        font-weight:normal;
        color:#d14;
    }

    .regexp {
        color:#009926;
    }

}