<section>

    <h2 id="setup">Setup</h2>

    <p>The setup of Conditioner is a two step process.</p>

    <p>Conditioner needs an AMD loader to function. RequireJS is a great choice so for these docs we'll stick with that. You can get it at <a href="http://requirejs.org/docs/download.html">http://requirejs.org</a>, if you haven't played around with RequireJS before, follow the
        <a href="http://requirejs.org/docs/start.html">Getting Started</a> guide for a quick meet n' greet.</p>

    <p>Now you've got a feel for RequireJS it is time to setup Conditioner.</p>

    <p>First it needs to know where to find the Conditioner framework. You'll need to add a <code>map</code> entry to the RequireJS configuration object pointing to the location of Conditioner. In the example below the file 'conditioner.js' is located in the 'lib' folder within the generic 'js' folder.</p>

	{% highlight javascript %}{% include code/requirejs-config.js %}{% endhighlight %}

    <p>Now that's been setup, you can request a conditioner reference and have it start loading modules by calling the init method.</p>

	{% highlight javascript %}{% include code/conditioner-init.js %}{% endhighlight %}

    <p>Since we've not yet <a href="#config">configured our modules</a> it will not load anything for now.</p>

    <p>If you need to support IE8 or IE9 you might also need a set of polyfills, you can find the them in the <a
            href="https://github.com/rikschennink/conditioner/tree/gh-pages/js/shim">shim folder of the GitHub repository</a>.</p>

</section>