<section>

    <h3 id="data-conditions">Setting module conditions</h3>

    <p>The <code>data-conditions</code> attribute allows you to control the conditions under which a module is loaded. This is actually what Conditioner is all about.</p>

    <p>The example below tells Conditioner to only load the module if the media query <code>(min-width:30em)</code> is matched.</p>

    {% highlight html %}<a data-module="ui/Map" data-conditions="media:{(min-width:30em)}"> ... </a>{% endhighlight %}
    <p>Conditions consist of monitors (media) with related tests (min-width:30em) and are formatted like this: <code>&lt;monitor_name&gt;:{&lt;test_value&gt;}</code>.</p>

    <p>To make conditions more powerful it is possible to combine multiple monitors together forming complex conditions.</p>

    <p>Link multiple monitors using the <code>and</code> or <code>or</code> operators:</p>
    {% highlight javascript %}foo:{bar} or foo:{bar} and foo:{bar}{% endhighlight %}

    <p>Group monitors using brackets to override operator precedence: </p>
    {% highlight javascript %}foo:{bar} or (foo:{bar} and foo:{bar}){% endhighlight %}

    <p>Use the <code>not</code> operator to negate a monitors or monitors group:
    {% highlight javascript %}not (foo:{bar} or foo:{bar}) and not foo:{bar}{% endhighlight %}

    <h4>Default Monitors</h4>

    <p>The following monitors are currenlty available. For those people who want to monitor more variables it is possible to
        <a href="#custom-monitors">write your own monitors</a> using a special API.</p>


    {% for monitor in site.data.monitors %}
    <h5><a href="{{ site.rawurl }}/dist/monitors/{{ monitor.code }}.js" target="_blank">{{ monitor.name }}</a></h5>
    <ul>
        {% for test in monitor.tests %}
        <li>
            {% capture sample %}{{ monitor.code }}_:{_{{ test.code }}_}{% endcapture %}
            <h6>{{ test.name }}</h6>
            <p>{{ test.description }}</p>
            <p><code>{{ sample | replace:'_','' }}</code></p>
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

</section>