<section>

    <h3 id="data-module">Linking a module to the DOM</h3>
    <p>To have a module loaded at a specific location in the DOM you use the <code>data-module</code> attribute. The value of the <code>data-module</code> attribute points to the location of the module.</p>

    {% highlight html %}<a data-module="ui/Map"> ... </a>{% endhighlight %}

    <p>You can also use a shortcut name, should the module path change you would only have to change it on one location.</p>

	{% highlight javascript %}{% include code/conditioner-options-map-alias.js %}{% endhighlight %}

    <p>The <code>data-module</code> attribute would now look like this:</p>

    {% highlight html %}<a data-module="IMap"> ... </a>{% endhighlight %}

    <p>When the module is activated a reference to the node is passed as the first argument to the <code>constructor</code> or, in case of a static object, the <code>load</code> method.</p>

    {% highlight javascript %}{% include code/module-element.js %}{% endhighlight %}

</section>