<ul>
	<li><a href="{{ site.url }}/docs/#setup">Setup</a></li>
	<li><a href="{{ site.url }}/docs/#module-outline">Module outline</a></li>
	<li>
		<a href="{{ site.url }}/docs/#config">Configuring modules</a>
		<ul>
			<li><a href="{{ site.url }}/docs/#data-module">Linking a module</a></li>
			<li><a href="{{ site.url }}/docs/#data-conditions">Setting conditions</a></li>
			<li><a href="{{ site.url }}/docs/#data-options">Passing options</a></li>
			<li><a href="{{ site.url }}/docs/#data-priority">Altering priorities</a></li>
		</ul>
	</li>
	<li>
		<a href="{{ site.url }}/docs/#api">JavaScript API</a>
		<ul>
			<li><a href="{{ site.url }}/docs/#conditioner">Conditioner</a></li>
			<li><a href="{{ site.url }}/docs/#node">Node</a></li>
			<li><a href="{{ site.url }}/docs/#module-controller">ModuleController</a></li>
		</ul>
	</li>
	<li><a href="{{ site.url }}/docs/#tests">Custom tests</a></li>
</ul>