<ul>
	<li><a href="/docs/#setup">Setup</a></li>
	<li><a href="/docs/#module-outline">Module outline</a></li>
	<li>
		<a href="/docs/#config">Configuring modules</a>
		<ul>
			<li><a href="/docs/#data-module">Linking a module</a></li>
			<li><a href="/docs/#data-conditions">Setting conditions</a></li>
			<li><a href="/docs/#data-options">Passing options</a></li>
			<li><a href="/docs/#data-priority">Altering priorities</a></li>
		</ul>
	</li>
	<li>
		<a href="/docs/#api">JavaScript API</a>
        {% if site.api %}
        <ul>
            {% for item in site.api %}
            <li><a href="/docs/#{{item.name}}">{{item.name}}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
	</li>
	<li><a href="/docs/#custom-monitors">Custom monitors</a></li>
</ul>