
<!-- Shims to get this working on some older browsers <= IE9 (should of course be minimized in real life) -->
<script src="{{ site.url }}/js/shim/Array.isArray.js"></script>
<script src="{{ site.url }}/js/shim/Array.indexOf.js"></script>
<script src="{{ site.url }}/js/shim/Array.forEach.js"></script>
<script src="{{ site.url }}/js/shim/Object.create.js"></script>
<script src="{{ site.url }}/js/shim/Object.keys.js"></script>
<script src="{{ site.url }}/js/shim/Function.bind.js"></script>
<script src="{{ site.url }}/js/shim/matchMedia/matchMedia.js"></script>
<script src="{{ site.url }}/js/shim/matchMedia/matchMedia.addListener.js"></script>

<!-- old stuff last, matchmedia won't be loaded if browser does not have addEventListener support, so we'll load shim now -->
<script src="{{ site.url }}/js/shim/DOMContentLoaded.js"></script>
<script src="{{ site.url }}/js/shim/addEventListener.js"></script>

<!-- Load minimized library (require + modules) -->
<script src="{{ site.url }}/js.min/built.js"></script>
