
<script>

    // setup requirejs
    requirejs.config({
        baseUrl:'{{ site.url }}/js/',
        paths:{
            conditioner:'lib/rikschennink/conditioner-0.8.6.min'
        }
    });

    // load conditioner
    requirejs(['conditioner'],function(conditioner) {

            conditioner.setOptions({
                'modules':{
                    'ui/StarGazers':{
                        'options':{
                            'user':'rikschennink',
                            'repo':'conditioner'
                        }
                    },
                    'ui/StorageConsentSelect':{
                        'options':{
                            'label':{
                                'level':{
                                    'incognito':'Incognito'
                                }
                            }
                        }
                    },
                    'security/StorageConsentGuard':{
                        'options':{
                            'levels':['all','incognito','none'],
                            'initial':'none'
                        }
                    }
                }
            });

            conditioner.loadModules(document);

        }
    );

</script>