/* color vars */
$primary-color:#d14;
$secondary-color:#57a2ae;

/* base styles */
html,body,ol,ul,li {
    margin:0;
    padding:0;
}

html {
	line-height:1.5;
    color:#333;
    background:#fff;
}

html,input,select,textarea,button {
	font-family:Helvetica,Verdana,sans-serif;
	font-size:1rem;
}

body {
    padding:3.5rem 1rem 1rem;
	margin:0 auto;
	max-width:40rem;
    overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6,p,ul,ol,dl {
    margin:0 0 1rem 0;
}

ul,ol {
    list-style-type:none;
}

h1,h2,h3,h4,h5 {

    font-family:OpenSans,sans-serif;
    font-weight:normal;

    .code {
        display:block;
        color:#aaa;
        font-size:.875rem
    }
}

h1,h2,h3 {
    padding-top:2rem;
}

h1 {
    font-size:1.5rem;
    color:#222;
}

h2 {
    font-size:1.333rem;
    color:#444;
    border-bottom:1px solid #ddd;
}

h3 {
    font-size:1.25rem;
    color:lighten($primary-color,10%);
}

h4 {
    font-weight:normal;
    font-size:1.125rem;
    color:#555;
}

h5 {
    font-size:1rem;
    color:darken($secondary-color,15%);
}

h6 {
    margin:0 0 .25em;
    font-size:1rem;
    color:#444;
    font-weight:normal;
}

a {
    color:$primary-color;
}

p {

    >code {
        padding:.125rem .25rem .175rem;
        background:#f0f0f0;
        white-space:nowrap;
    }
}

label {
    margin-right:.5em;

    &:after {
        content:':';
    }
}

blockquote {

    border-left:2px solid #ccc;
    margin:0;
    padding:.5rem 0 .5rem 1.5rem;
    font-style:italic;
    color:#666;

    &:before {
        margin-right:.125rem;
        content:'\201C';
    }

    &:after {
        margin-left:.125rem;
        content:'\201D';
    }
}

dd {
    margin:0 0 .5rem 0;
    padding:0;
}

dt {
    margin-bottom:.25rem;
}

dt>code {
    background:#f6f6f6;
    white-space:nowrap;
    padding:.25rem .5rem .375rem;
}

.print {
    position:absolute;
    left:-9999rem;
    top:-9999rem;
    width:1px;
    height:1px;
}