/**
 * indexnav
 */
nav.index {

    margin-bottom:1.5rem;

    li {
        display:inline-block;
        margin-right:.5em;
    }
}


/**
 * subnav
 */
nav.sub {

    >ul {

        padding:1rem;
        background:lighten($primary-color,50%);

    }

    ul ul {
        margin-left:1rem;
        font-size:.875em;
    }

    ul ul a {
        text-decoration:none;

        &:hover {
            text-decoration:underline;
        }
    }

}

nav.sub.code {

    >ul {
        background:lighten($secondary-color,42%);
        color:$secondary-color;

        li {
            font-size:.875rem;
        }

        a {
            color:darken($secondary-color,15%);

            &:after {
                display:table;
                clear:both;
                content:'';
            }
        }
    }

}


/**
 * introduction
 */
.introduction {

    margin-bottom:2rem;
	color:#999;
    font-size:1.25rem;
    font-family:OpenSans, sans-serif;

	strong {
		font-weight:normal;
	}

	span {
		display:none;
	}
}


/**
 * block
 */
.introduction-block {
	font-size:1.125rem;
	color:#555;
}

.introduction-block h3 {
	text-transform:capitalize;
}


/**
 * Method
 */
section.method {

    padding:0 0 1rem 0;
    margin-bottom:1rem;
    border-bottom:1px dotted #ddd;

    h4,p,.params {
        margin-bottom:.25rem;
    }

    p {
        font-size:.875rem;
    }
}


/**
 * Code
 */
.code {
	white-space:nowrap;
	font-family:monaco,monospace;
}

h3 .code {
	display:block;
	color:#999;
	font-size:.75rem;
}

h3.code {
	font-size:1.25rem;
}

h4.code {
	font-size:1.125rem;
}


/**
 * Highlight Code Block
 */
pre {

    margin:1rem 0;
    background:#f6f6f6;

    code {
        display:block;
        padding:.375rem .5rem;
        word-wrap:break-word;
    }
}


/**
 * Title
 */
h1.title {
    padding-top:0;
}


/**
 * Logo
 */
h1.logo {
    position:absolute;
    top:0;
    left:0;
    padding:0 1rem;
    font-size:1rem;
    line-height:2;
    margin-top:0;
	white-space:nowrap;
	text-transform:lowercase;

    a {
        color:#999;
        text-decoration:none;
    }
}

.landing h1.logo {

    position:static;
    font-size:1.75rem;
    padding:0;
    line-height:1.5;

    a {
        color:#333;
        text-decoration:none;
    }
}


/**
 * Git block
 */
.git {

	position:absolute;
	top:0;
	left:0;
	right:0;
	min-height:2.125rem;
	display:block;
	padding:0 1rem;
	background:#efefef;
    text-align:right;
    line-height:2;

    iframe {
        display:inline-block;
        vertical-align:middle;
    }
}

.js .git {
    display:none;
    &[data-initialized] {
        display:block;
    }
}

.landing .git {
    text-align:left;
}


/**
 * Note
 */
p.note {
	font-size:.875rem;
	color:#999;
}


/**
 * Files list
 */
.files {
	padding:0;
}


/**
 * Component
 */
.component {
	box-sizing:border-box;
	padding:1em;
	margin:1em 0;
	color:#6b6963;
	background:#f3efe2;
	font-size:.875em;


    p {
        margin-bottom:0;
        -webkit-transition:font-size .25s;
        -moz-transition:font-size .25s;
        -ms-transition:font-size .25s;
        transition:font-size .25s;
    }

    &.alt {
        width:50%;
    }

    button {
        display:block;
        padding:0 .75em;
        line-height:1.75;
        border:none;
        background:#CDC7B9;
        color:#4F4E49;
        cursor:pointer;
    }

    p+button {
        margin-top:.75em;
    }
}

[data-module] {
	color:#aeaaa0;
	-webkit-transition:color .5s;
	-moz-transition:color .5s;
	-ms-transition:color .5s;
	transition:color .5s;

    &:empty:before {
        content:'No modules active';
    }
}

[data-initialized] {
	color:#6b6963;
}


/**
 * Map
 */
img.map {
	display:block;
	max-width:100%;
	margin:0 auto;
	border:1px solid #ccc8bd;
}


/**
 * Events
 */
.events {

    text-align:left;
    width:100%;
    border-collapse:collapse;
    margin-bottom:1em;
    background:#F0F0F0;

    p {
        margin:0;
    }

    td,th {
        padding:.25em 1em;
        color:#777;
        font-size:.875em;
        vertical-align:top;
    }

    thead {
        display:block;
        position:absolute;
        top:-9999px;
        left:-9999px;
        width:1px;
        height:1px;
    }

    tbody {

        tr:first-child {
            td,th {
                padding-top:1em;
            }
        }

        tr:last-child {
            td,th {
                padding-bottom:1em;
            }
        }

        td,th {
            font-weight:normal;
        }

        th {
            font-family:monaco,monospace;
        }

        th:before {content:'"';}
        th:after {content:'"';}
    }
}


/**
 * Monitors
 */
.monitors {

    margin:-.5rem -.5rem 1rem;

    h6 {
        font-weight:bold;
    }

    article {
        margin:.5rem;
        padding:.5rem .75rem;
        padding-bottom:0;
        border:1px solid #ddd;
    }

    pre {
        padding-left:.5rem;
        padding-right:.5rem;
        margin:0 -.75rem;
    }

}


/**
 * Params
 */
.params {

    text-align:left;
    width:100%;
    border-collapse:collapse;
    margin-bottom:1em;
    font-family:monaco,monospace;

    p {
        margin:0;
    }

    td,th {
        color:#777;
        font-size:.75em;
        vertical-align:top;

        p {
            font-size:.75rem;
        }
    }

    thead {
        display:block;
        position:absolute;
        top:-9999px;
        left:-9999px;
        width:1px;
        height:1px;
    }

    tbody {

        td,th {
            font-weight:normal;
            padding-right:.5rem;
            box-sizing:borderbox;
        }

        th,
        th+td {
            width:20%;
        }

        th+td {
            width:30%;
        }

        td:last-child {
            width:50%;
        }

    }
}