/**
 * Body + Header layouting
 */
@media (min-width:38rem) {

	body {
		position:relative;
        padding-right:7rem;
	}

	.git {
		left:1rem;
		right:1rem;
        padding-left:.5rem;
        padding-right:.5rem;
		border-radius:0;
	}

    h1.logo {
        left:1rem;
    }

    .intro {
        display:table;
        border-top:2px solid #f3f3f3;
    }

	.introduction-block {

        display:table-cell;
		width:50%;
		padding:0 2rem 0 0;
		vertical-align:top;

		+.introduction-block {
			padding:0 0 0 2rem;
		}
	}

    h1,h2,h3,h4,h5 {

        .code {
            display:inline-block;
            color:#aaa;
            font-size:.875rem
        }

    }

    nav.sub.code {

        >ul {

            a {
                &:after {
                    display:inline;
                    clear:none;
                    content:'';
                }
            }
        }

    }

    .highlight {
        margin-right:-6rem;
    }


}

@media (min-width:62rem) {

    body {
        margin-left:17rem;
    }

	nav>a {
        position:absolute;
        left:0;
        top:0;
        border-bottom:1px solid #ddd;
        border-radius:0;
        padding-top:0;
        padding-bottom:1rem;
        margin-bottom:1rem;
    }

    nav.main {
        position:fixed;
		background:#40494E;
        left:0;
        top:0;
		bottom:0;
		padding:5rem 0 0 0;
        width:16rem;
        margin:0;
        text-align:right;
		z-index:1;

        li {
            display:block;
        }

		>ul {
			border-top:1px dotted #516574;
			padding-top:1.5rem;
			padding-right:2rem;
            background:transparent;
		}

        >ul>li>a:after {
            position: absolute;
            top:50%;
            height:0;
            width:0;
            border:5px solid transparent;
            pointer-events:none;
            content:'';
            margin-top:-5px;
        }

		a {
			color:#a2b3c0;
			text-decoration:none;

			&:hover,
			&:focus {
				text-decoration:underline;
			}
		}

		ul ul a {
			color:#8596A2;
		}

    }

    .git {
        left:auto;
        border-radius:0 0 .25rem .25rem;
    }


    h1.logo {

        position:fixed;
        left:0;
        top:1.5rem;
        padding:0;
        z-index:2;
        width:14rem;
        text-align:right;

        a {
            color:#8596A2;
        }
    }

    .landing h1.logo {
        position:static;
        text-align:left;
    }

	.landing nav.main {

		padding-top:4rem;

		>ul {
			border-top:none;
			padding-top:0;
		}
	}

}





