
@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular-webfont.eot');
	src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
	url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
	url('../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular') format('svg');
	font-weight: normal;
	font-style: normal;

}

html {
	padding:2em;
	overflow:scroll;
	background:#fff;
	line-height:1.5;
	color:#333;
}

html,input,select,textarea,button {
	font-family:Helvetica,Verdana,sans-serif;
	font-size:1em;
}



/**
 * Body
 */
body {
	position:relative;
	margin:0 auto;
	max-width:40em;
}


/**
 * Navigation
 */
nav {
	margin-top:2em;
}

nav.index {

    margin-bottom:-3em;
    text-align:center;

    /* animate in */
    right:-12em;
    -webkit-transition:right .5s;
}

nav.sub {
    display:block;
    margin:0;
    padding:1em 1em .5em;
    border-radius:.5em;
    background:#ffefed;
}

nav ul,
nav li {
	padding:0;
	margin:0;
	list-style:none;
}

nav li {
	margin-bottom:.5em;
}

nav.index li {
    display:inline-block;
}

nav a {
	position:relative;
	padding:.25em .5em;
	text-decoration:none;
	color:#d14;
	border-radius:.25em;
}

nav a,
nav a:after {
	-webkit-transition:.25s;
}

nav a:hover {
    text-decoration:underline;
}

nav.index a:focus,
nav.index a:hover {
	color:#fff;
	background:#d14;
    text-decoration:none;
}

nav.code {
    font-size:.875em;
    border:1px solid #cfe9ec;
    background:#eaf8f6;
    font-family:monaco,consolas,monospace;
}

nav.code {
    color:#68becb;
}

nav.code a {
    color:#008e9c;
}


/**
 * Headers
 */
h1,h2,h3,h4,h5 {
	font-family:OpenSans,sans-serif;
	font-weight:normal;
}

h1 {
	font-size:2em;
	color:#333;
}

h2 {
	margin-top:0;
	padding-top:2em;
	padding-bottom:.25em;
	font-size:1.75em;
	color:#333;
	border-bottom:1px solid #ddd;
}

h3 {
	padding:2.5em 0 0 0;
	margin:0 0 .5em;
	font-size:1.375em;
	color:#d93f65;
}

h4 {
	font-weight:normal;
	font-size:1.25em;
    padding-top:3em;
	margin:0 0 .5em;
	color:#555;
}

h4+h5{
    padding-top:0;
    margin-top:0;
}

h5 {
    font-size:1em;
    font-family:monaco,monospace;
    color:#008e9c;
    margin:2em 0 -.75em 0;
}

h2+p,
h3+p,
h4+p {
	margin-top:0;
}



/**
 * Logo
 */
h1 {
	text-align:center;
	margin:0;
	padding-top:.5em;
	white-space:nowrap;
}

h1+em {
	display:block;
	margin:.5em 0;
	padding:0 .25em;
	text-align:center;
	text-transform:lowercase;
	font-style:normal;
	color:#888;
	border-radius:.25em;
	font-size:1em;
}

h1:after {
	content:':{';
    color:#dd315b;
}


/**
 * Git
 */
.git {
	position:absolute;
	top:-2em;
	left:0;
	right:0;
	display:block;
	padding:.25em;
	background:#efefef;
	border-radius:0 0 .25em .25em;
}

.git iframe {
	display:block;
}



/**
 * Body + Header layouting
 */

@media (min-width:38em) {

	h1 {
		font-size:2.5em;
	}

	h1+em {
		font-size:1.25em;
	}

    nav.code {
        font-size:1em;
    }

}

@media (min-width:72em) {

	body {
		margin-left:12em;
	}

	h1 {
		font-size:3em;
		text-align:left;
	}

	h1+em {
		text-align:left;
		font-size:1.25em;
	}

	nav.index a:after {
		position: absolute;
		top:50%;
		height:0;
		width:0;
		border:solid transparent;
		pointer-events:none;
		content:'';
		border-width:1px;
		margin-top:-1px;
	}

    nav.index a:hover:after,
    nav.index a:focus:after {
        margin-top:-5px;
        border-width:5px;
    }



    nav.index {
        position:fixed;
        left:1em;
        top:4em;
        width:10em;
        margin:0;
    }

    nav.index {
        text-align:right;
    }

    nav.index li {
        display:block;
    }

    nav.index a:after {
        left:100%;
    }

	nav.index a:hover:after,
    nav.index a:focus:after {
		border-left-color:#d14;
		left:100%;
	}

}



/**
 * Typography
 */
p {
	margin:1em 0;
}

p>a {
    color:#d14;
}

blockquote {
	border-left:2px solid #ccc;
	margin:0;
	padding:.5em 0 .5em 1.5em;
	font-style:italic;
	color:#666;
}

blockquote:before {
	margin-right:.125em;
	content:'\201C';
}

blockquote:after {
	margin-left:.125em;
	content:'\201D';
}

code{
	padding:.375em .5em .25em;
}

p>code {
    white-space:nowrap;
}




.doc-group {
    position:relative;
}
/*
.api-group ul {
    position:absolute;
    top:0;
    left:100%;
    margin-left:2em;
}
*/







.component {
	box-sizing:border-box;
	padding:1em;
	margin:1em 0;
	color:#6b6963;
	background:#f3efe2;
	border-radius:3px;
	font-size:.875em;
	border:1px solid #dcd8cc;
}

.component.alt {
	width:50%;
}

[data-module] {
	color:#aeaaa0;
	-webkit-transition:color .5s;
	-moz-transition:color .5s;
	-ms-transition:color .5s;
	transition:color .5s;
}

[data-initialized] {
	color:#6b6963;
}

img.map {
	display:block;
	max-width:100%;
	margin:0 auto;
	border:1px solid #ccc8bd;
}

label {
	margin-right:.5em;
}

label:after {
	content:':';
}

pre {
	margin:1em 0;
}
