.hljs-string {
    color: #d01040;
}

.hljs-function .hljs-keyword {
    font-weight:bold;
}

.hljs-comment {
    color:#998;
    font-style:italic;
}

.hljs-keyword {
    font-weight:bold;
    color:#000;
}